/* The Modal (background) */
.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  margin: auto;
  padding: 0;
  width: 280px;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  position: absolute;
  bottom: 90px;
  left: 20%;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 90px;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 90px;
    opacity: 1;
  }
}

/* bat dau tu day */
.modal-contentA {
  margin: auto;
  padding: 0;
  width: 280px;
  -webkit-animation-name: animateavt;
  -webkit-animation-duration: 0.4s;
  animation-name: animateavt;
  animation-duration: 0.4s;
  position: absolute;
  top: 60px;
  right: 12%;
}

/* Add Animation */
@-webkit-keyframes animateavt {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 90px;
    opacity: 1;
  }
}

@keyframes animateavt {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 90px;
    opacity: 1;
  }
}
